<template>
  <div class="c-loader">
    <div class="c-loader__el"></div>
    <div class="c-loader__el"></div>
    <div class="c-loader__el"></div>
  </div>
</template>

<style lang="scss">
.c-loader {
  line-height: 0;

  &__el {
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
    opacity: 0.2;
    animation-duration: 750ms;
    animation-name: loader-anim;
    animation-iteration-count: infinite;
    background-color: #b7b7b7;

    &:first-child {
      animation-delay: 0ms;
    }

    &:nth-child(2) {
      animation-delay: 180ms;
    }

    &:nth-child(3) {
      animation-delay: 360ms;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@keyframes loader-anim {
  0% {
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
</style>
