<template>
  <div class="c-forecast">
    <header>
      <h2>Forecast for {{ forecasts.length }} days</h2>
    </header>

    <ul class="unstyle-list c-forecast__list">
      <li v-for="(forecast, index) in forecasts" :key="index" class="c-forecast__day">
        <div>
          {{ forecast.date_epoch | toWeek }}
        </div>
        <time class="c-forecast__date">
          {{ forecast.date_epoch | toMonth }}
        </time>
        <picture class="c-forecast__icon">
          <img
            v-if="forecast.day.condition.icon"
            :src="forecast.day.condition.icon"
            :alt="forecast.day.condition.text"
          />
        </picture>
        <div class="c-forecast__temp">
          <strong>{{ forecast.day.maxtemp_c }}°C</strong>
          <span>&nbsp;</span>
          <span>{{ forecast.day.mintemp_c }}°C</span>
        </div>
        <div class="c-forecast__condition">
          {{ forecast.day.condition.text }}
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
const weekLabels = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
const todayLabel = 'Today';
const today = new Date();
const dateFormatLocale = 'en-EU';
const dateFormatOptions = { month: 'long', day: 'numeric' };

export default {
  props: {
    forecasts: {
      type: Array,
      required: true,
    },
  },

  filters: {
    toWeek(timestamp) {
      if (typeof timestamp === 'string') {
        return timestamp;
      }

      const date = new Date(timestamp * 1000);

      if (date.toDateString() === today.toDateString()) {
        return todayLabel;
      }

      return weekLabels[date.getDay()];
    },
    toMonth(timestamp) {
      if (typeof timestamp === 'string') {
        return timestamp;
      }

      const date = new Date(timestamp * 1000);
      return date.toLocaleString(dateFormatLocale, dateFormatOptions);
    },
  },
};
</script>

<style lang="scss">
.c-forecast {
  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow-x: auto;
  }

  &__day {
    display: flex;
    flex-direction: column;
    flex-basis: 95px;
    padding: 8px;

    &:first-child {
      border-right: 1px solid #e6e6e6;
    }
  }

  &__date,
  &__condition {
    color: #5a5a5a;
    font-weight: 300;
    font-size: 14px;
  }

  &__date {
    line-height: 22px;
    white-space: nowrap;
  }

  &__icon {
    height: 64px;
    padding-bottom: 4px;
  }

  &__temp {
    white-space: nowrap;
    line-height: 22px;
  }

  &__condition {
    line-height: 18px;
    min-height: 18px * 3;
  }
}
</style>
