<template>
  <div class="c-weather">
    <div class="c-weather__temp">{{ current.temp_c }}°C</div>
    <div>
      <small>Feels like: {{ current.feelslike_c }}°C</small>
    </div>
    <div class="c-weather__text">
      {{ current.condition.text }}
    </div>
    <img
      v-if="current.condition.icon"
      :src="current.condition.icon"
      class="c-weather__icon"
    />
  </div>
</template>

<script>
export default {
  props: {
    current: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss">
.c-weather {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  max-width: 400px;
  position: relative;
  padding: 16px;
  background: #fefefe;

  &__temp {
    font-weight: lighter;
    font-size: 48px;
    line-height: 64px;
  }

  &__text {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 48px;
  }

  &__icon {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
</style>
