<template>
  <div class="c-search-bar">
    <div class="c-search-bar__field-wrap">
      <input
        type="text"
        class="c-search-bar__field"
        placeholder="City or place"
        v-model="placeQuery"
        ref="input"
        @focus="handleFocus"
        @blur="handleBlur"
      />

      <div
        v-if="showSuggestList"
        class="c-search-bar__suggest-list"
      >
        <div class="c-search-bar__suggest-list-wrapper">
          <template v-if="recentPlaces.length">
            <small>Recent places or city</small>
            <SearchBarList
              :places="recentPlaces"
              removable
              @select="handleSelect"
              @remove="handleRemove"
            />
            <hr v-if="autocompletePlaces.length" class="c-search-bar__suggest-list-divider" />
          </template>
          <template v-if="autocompletePlaces.length">
            <SearchBarList
              :places="autocompletePlaces"
              @select="handleSelect"
            />
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { autocomplete } from '@/services/api/places';

import SearchBarList from './SearchBarList.vue';

export default {
  components: { SearchBarList },

  props: {
    recentPlaces: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      isActive: false,
      autocompletePlaces: [],
      placeQuery: '',
    };
  },

  computed: {
    showSuggestList() {
      return this.isActive && (this.recentPlaces.length || this.autocompletePlaces.length);
    },
  },

  methods: {
    handleSelect(place) {
      this.$emit('select', place);
      this.$refs.input.blur();
    },
    handleRemove(place) {
      this.$emit('remove', place);
    },
    handleFocus() {
      this.isActive = true;
    },
    handleBlur() {
      this.isActive = false;
    },
    async loadAutocompletePlaces() {
      this.autocompletePlaces = await autocomplete(this.placeQuery);
    },
  },

  watch: {
    isActive(val) {
      if (!val) {
        this.placeQuery = '';
        this.autocompletePlaces = [];
      }
    },
    placeQuery(val) {
      if (val) {
        this.loadAutocompletePlaces();
      }
    },
  },
};
</script>

<style lang="scss">
.c-search-bar {
  display: flex;
  position: relative;
  background: #fcfcfc;
  padding: 12px;
  border-bottom: 1px solid #e6e6e6;
  z-index: 90;

  &__field-wrap {
    width: 100%;

    @media (min-width: 425px) {
      width: 320px;
    }
  }

  &__field {
    width: 100%;
    padding: 8px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
    appearance: none;
    /* remove auto zoom on ios */
    font-size: inherit;

    @media (min-width: 425px) {
      font-size: 14px;
    }

    &:focus {
      outline: none;
      border-color: #ffd22a;
    }
  }

  &__suggest-list {
    position: absolute;
    left: 0;
    right: 0;
    padding: 8px 12px;
    width: 100%;
    background: #fcfcfc;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
  }

  &__suggest-list-wrapper {
    width: 100%;

    @media (min-width: 425px) {
      width: 320px;
    }
  }

  &__suggest-list-divider {
    border: none;
    color: #e6e6e6;
    background-color: #e6e6e6;
    height: 1px;
  }
}
</style>
