<template>
  <div class="c-search-place-list">
    <ul class="unstyle-list">
      <li
        v-for="place in places" :key="place.placeId"
        class="c-search-place-list__item"
      >
        <span
          class="c-search-place-list__content"
          @mousedown.prevent="handleSelect(place)"
        >
          {{ place.description }}
        </span>
        <button
          v-if="removable"
          type="button"
          class="c-search-place-list__remove-btn"
          @mousedown.prevent="handleRemove(place)"
        >✕</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    removable: {
      type: Boolean,
      default: false,
    },
    places: {
      type: Array,
      required: true,
    },
  },

  methods: {
    handleSelect(place) {
      this.$emit('select', place);
    },
    handleRemove(place) {
      this.$emit('remove', place);
    },
  },
};
</script>

<style lang="scss">
.c-search-place-list {
  &__item {
    display: flex;
    align-items: center;
    border: 3px;
    font-size: 14px;
    transition: background 0.2s ease;

    &:hover {
      background: #ffeba0;
      cursor: pointer;
    }
  }

  &__content {
    flex: 1;
    padding: 8px 4px;
  }

  &__remove-btn {
    display: flex;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    opacity: .4;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: .9;
    }
  }
}
</style>
