<template>
  <div class="page">
    <div class="page__container">
      <SearchBar
        :recentPlaces="recentPlaces"
        @select="handleSelectPlace"
        @remove="handleRemovePlace"
      />
      <main>
        <section class="page__content-item">
          <h1>{{ currentPosition.name }}&nbsp;</h1>
          <Weather :current="weatherData.current" />
        </section>

        <section class="page__content-item">
          <Forecast :forecasts="weatherData.forecast.forecastday" />
        </section>
      </main>

      <div v-if="isLoading" class="page__overlay">
        <Loader class="page__loader" />
        <div>
          {{ loadingStatus }}
        </div>
      </div>
      <div v-else-if="errors" class="page__overlay">
        <div>
          <div v-for="(error, index) in errors" :key="index">
            {{ error }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex';

import Forecast from '@/components/forecast/Forecast.vue';
import Loader from '@/components/loader/Loader.vue';
import SearchBar from '@/components/search-bar/SearchBar.vue';
import Weather from '@/components/weather/Weather.vue';
import { getCurrentPosition } from '@/utils/geolocation';
import { fetchCoordsByPlaceId, fetchPlaceNameByCoords } from '@/services/api/places';

export default {
  components: {
    Forecast,
    Loader,
    SearchBar,
    Weather,
  },

  data() {
    return {
      isLoading: false,
      loadingStatus: undefined,
      errors: undefined,
    };
  },

  computed: {
    ...mapState(['currentPosition', 'isLoaded']),
    ...mapState('places', {
      recentPlaces: state => state.places,
    }),
    ...mapState('weather', {
      weatherData: state => state.weather,
    }),
  },

  methods: {
    ...mapActions(['setCurrentPositionAndLoadWeather']),
    ...mapActions('weather', ['loadWeather']),
    ...mapMutations('places', {
      addPlace: 'ADD_PLACE',
      removePLaceById: 'REMOVE_PLACE_BY_ID',
    }),
    handleRemovePlace({ placeId }) {
      this.removePLaceById(placeId);
    },
    async updateWeather() {
      await this.loadWeather(this.currentPosition.coords);
    },
    async handleSelectPlace(place) {
      this.isLoading = true;

      const coords = await fetchCoordsByPlaceId(place.placeId);
      await this.setCurrentPositionAndLoadWeather({
        coords,
        name: place.description,
      });
      this.addPlace(place);

      this.isLoading = false;
    },
    async initApp() {
      if (this.isLoaded) {
        await this.updateWeather();
        return;
      }

      let currentPositionCoords;
      let currentPositionName;

      this.isLoading = true;
      this.loadingStatus = 'Getting your location...';

      try {
        currentPositionCoords = await getCurrentPosition();
        currentPositionName = await fetchPlaceNameByCoords(currentPositionCoords);
      } catch (error) {
        this.errors = ['Cannot locate your position.', 'Please select your place manually.'];
        // reset error when data was loaded
        const unwatch = this.$watch('weatherData', () => {
          this.errors = undefined;
          unwatch();
        });
      }

      if (currentPositionCoords && currentPositionName) {
        await this.setCurrentPositionAndLoadWeather({
          coords: currentPositionCoords,
          name: currentPositionName,
        });
      }

      this.isLoading = false;
      this.loadingStatus = undefined;
    },
  },

  created() {
    this.initApp();
  },
};
</script>

<style lang="scss">
.page {
  margin: 0 auto;
  max-width: 900px;

  @media (min-width: 425px) {
    padding: 16px;
  }

  &__container {
    position: relative;
    min-width: 300px;
    background: #fff;
    border: 1px solid #e6e6e6;
    overflow: hidden;

    @media (min-width: 425px) {
      border-radius: 3px;
    }
  }

  &__content-item {
    padding: 16px;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($color: #fff, $alpha: 0.95);
    text-align: center;
    line-height: 30px;
    color: #5a5a5a;
  }

  &__loader {
    padding: 8px 0;
  }
}
</style>
