body {
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  background: #fafafa;
}

body, div, dl, fieldset, form, html, img, ol, p, pre {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0 0 8px 0;
  font-weight: 500;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

strong {
  font-weight: 500;
}

.unstyle-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
